<div>
  <div class="container">
    <h1 class="posts_heading">投稿</h1>
    <div class="post_item">
      <a href="<% "/users/#{@post.user.id}" %>"><img class="post_user_icon" src="<%= "/user_images/#{@post.user.image_name}" %>"></a>
      <div class="post_user_name">
        <%= link_to(@post.user.name, "/users/#{@post.user.id}") %>
      </div>
      <div class="post_content">
        <%= @post.content %>
      </div>
      <div class="post_created_at">
        <%= @post.created_at %>
      </div>
      <% if @post.user.id == @current_user.id %>
        <div class="post_delete">
          <%= link_to("削除", "/posts/#{@post.id}/destroy") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
