<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/ab6ba4baab.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>Makelaugh</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header_left">
        <a href="/"><img src="/header_logo.png"></a>
      </div>
      <span class="fa fa-bars menu-icon"></span>
      <span class="fa fa-2x fa-times close-icon"></span>
      <div class="header_right">
        <ul>
          <% if session[:user_id] != nil %>
          <% current_user = User.find_by(id: session[:user_id]) %>
          <li>
            <%= link_to(current_user.name, "/users/#{current_user.id}") %>
          </li>
          <li>
            <%= link_to("新規投稿", "/posts/new") %>
          </li>
          <li>
            <%= link_to("投稿一覧", "/posts/index") %>
          </li>
          <li>
            <%= link_to("メッセージ一覧", "/messages/index") %>
          </li>
          <li>
            <%= link_to("ユーザー一覧", "/users/index") %>
          </li>
          <li>
            <%= link_to("ログアウト", "/logout", {method: "post"}) %>
          </li>
          <% else %>
          <li>
            <a class="about" href="/about">MakeLaughについて</a>
          </li>
          <li>
            <a class="btn signup" href="/signup">新規登録</a>
          </li>
          <li>
            <a class="btn login" href="/login">ログイン</a>
          </li>
          <% end %>
        </ul>
      </div>
    </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
